/*my first css */

/* color.adobe.com have great color pallets*/
/* mdn and css tricks are good resources */


/* section{
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    display: flex;
   flex-flow: column nowrap;
   padding-top: 1rem;
} 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
  } */
  
  *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body 

min-height: 100vh;
  padding: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  */
body {
  

  background:white;
  /*justify-content: center;*/
  /*align-items: center;*/
 /*display: flex;
  flex-flow: column nowrap;*/
 
  
}

h1 {
    font-family: 'Mountains of Christmas', cursive;
    display: block;
    color: red;
    text-align: center;
    font-size: 500%; 
    
}
/* .flip-card-container */
.flip-card-container {
    width: 700px;
    height: 500px;
    margin: 40px;
    perspective: 1000px;
    

   
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: .5s;
  

}

/* hover and focus-within states */

.flip-card-container:hover .flip-card 
/* , .flip-card-container:focus-within .flip-card */{
  transform: rotateY(180deg);
  
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  position: absolute;
  backface-visibility: hidden;
  
}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
}

/* figure 
figure {
  z-index: -1;
}*/

/* figure, .img-bg 
figure,
.img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}*/
figure {
    position: absolute;
    width: 100%;
    height: 100%;
  }
/* img */
.card-img {
  height: 100%;
  border-radius: 24px;
}
section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid black;
  margin: auto;
  background-color: green;
  
  
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.navbar-brand{
  font-family: fantasy;
}
.nav-h1{
  font-family: fantasy;
  font-size: 3rem;
  border-bottom: 2px solid gray;
  border-right: 2px solid green;
  width: 400px;
  text-align: center;
  margin: 0px;
  box-shadow: 1px 2px 10px #888888;
 }

img{
 width: 350px;
 height: 200px; 
 margin: 10px;
 transition: all 1s;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
img:hover{
  transform: scale(1.1);
  box-shadow: 5px 10px 18px #888888;
}

.blogfont{
  margin-top: 1rem;
  font-family: 'Lobster', 'Mountains of Christmas', cursive;
  font-size: 50px;
  color: black;

}